.EntireLog {
  display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 1rem!important;
    margin: 20px 20px 20px 10%;
    height: 680px;
}


.auth_image {
  width: 60%;
  height: 92vh;
}

.auth_image img {
    width: 100%;
    height: 80%;
    margin: 4%;
    border-radius: 100%;
    box-shadow: 4px 5px 14px 0px #8a8de4;
}


.auth {
  margin: 3rem;
    height: 450px;
    margin-top: 8%;
    width: 40%;
    display: flex;
    flex-direction: column;
  
}

.auth h1 {
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 3rem;
  margin: 2px;
  font-weight: 900;
}

.auth h4 {
  text-align: left;
  color: rgb(0, 0, 0);
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
}

.control {
  margin-bottom: 1rem;
}

.control label {
  display: block;
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin: 1em 0;
}

.control input {
  font: inherit;
  background-color: #e3e2f6;
  color: #38015c;
  border-radius: 4px;
  border: 1px solid rgb(190 189 189);
  width: 100%;
  text-align: left;
  padding: 0.25rem;
  height: 40px;
  font-size: 20px;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: rgb(0, 0, 0);
  background-color: #8a8de4;
  border: 1px solid #9f5ccc;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: #873abb;
  border-color: #873abb;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #000000;
  border: none;
  padding: 0.15rem 1.5rem;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1rem;
}

.toggle {
  background-color: white;
  color: #38015c;
  outline: none;
  border-radius: 4px;
  border-radius: 4px;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #ae82cc;
}
