@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');



* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Lato', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

.e-schedule .e-vertical-view .e-day-wrapper .e-appointment, .e-schedule .e-timeline-month-view .e-appointment {
  height: auto;
  width: 100%;
  background: #FFFFFF !important;
  color: #000000;
  box-shadow: 0px 4px 4px rgba(0, 74, 223, 0.25);
  border-radius: 20px;
  align-items: center;
}


.e-appointment-details {
  background-color: #DBDAFB;
}

.e-schedule .e-timeline-view .e-resource-text,
.e-schedule .e-timeline-month-view .e-resource-text {
  color: rgba(0, 0, 0, .87);
  font-size: 13px;
  overflow: hidden;
  padding: 4px 15px;
  display: none;
  text-overflow: ellipsis;
}


.e-schedule .e-timeline-view .e-resource-collapse,
.e-schedule .e-timeline-month-view .e-resource-collapse {
  transform: rotate(90deg);
  display: none;
}


.e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-icons.e-btn-icon {
  margin: 0;
  min-width: 24px;
  width: auto;
  display: none;
}


.e-schedule .e-timeline-view .e-resource-left-td, .e-schedule .e-timeline-month-view .e-resource-left-td {
    background-color: #fff;
    border-color: rgba(0,0,0,.12);
    border-style: solid;
    border-width: 0 1px 1px 0;
    color: rgba(0,0,0,.87);
    vertical-align: middle;
    width: 0;
}
